<!--
 * @Author: zkl 3534055259@qq.com
 * @Date: 2022-10-24 15:59:09
 * @LastEditors: zkl 3534055259@qq.com
 * @LastEditTime: 2022-10-24 20:51:47
 * @FilePath: \admin测试\fengyong-admin\src\views\Goods\detail.vue
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<template>
    <div class="goodsdetail">
        <div class="detail1">
            <div class="title">商品基本信息</div>
            <div class="listtext">
                <div>名称: {{ formObj.name }}</div>
                <div>标题: {{ formObj.subtitle }}</div>
                <div>商品分类:{{ formObj.categoryId }}</div>
                <div>价格: {{ formObj.price }}</div>
                <div>上架状态: {{ formObj.status == 1 ? '已上架' : '未上架' }}</div>
                <div>库存: {{ formObj.stock }}</div>
            </div>
            <div class="texts"></div>
        </div>
        <div class="detail2">
            <div class="title">商品基本信息</div>
            <div v-html="imgurl" class="xinxi">

            </div>
        </div>
    </div>
</template>

<script>
import { getGoodsDetail } from "@/http/api";
export default {
    props: ["id"],
    data() {
        return {
            formObj: {
                name: "",
                subtitle: "",
                price: "",
                stock: "",
                status: 2,
                detail: "",
                levelOneCategoryId: "",
                subImages: [],
                levelTwoCategoryId: "",
                categoryId: "",
                imgurl: null
            },
        }
    },
    // computed: {
    //     routeTab() {
    //         return this.$route.meta.title;
    //     },

    // },
    methods: {
        //获取商品详情
        async getGoodsDetail(id) {
            const res = await getGoodsDetail(id);
            console.log(res, '*********')
            // console.log(arguments,"0000000")
            // console.log(getGoodsDetail(),"0000000")


            this.imgurl = res.detail
            this.formObj = res;
        },
    },
    created() {
        console.log(getGoodsDetail(this.id),"kkkkkk")

        this.getGoodsDetail(this.id);
        // console.log(getGoodsDetail(),"kkkkkk")

    }


}
</script>

<style lang="scss" scoped>
.goodsdetail {
    padding: 20px;

    .detail1 {
        padding: 20px;
        box-sizing: border-box;

        .title {
            font-size: 16px;
            color: rgba(0, 0, 0, .85);
            margin-bottom: 15px;
        }

        .listtext {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            color: rgba(0, 0, 0, .85);
            font-size: 14px;
            justify-content: start;
            align-content: stretch;

            div {
                margin-bottom: 15px;
            }
        }

        .texts {
            margin-top: 20px;
            border-bottom: 1px solid #e8e8e8;

        }
    }

    .detail2 {
        padding: 20px;

        .xinxi {
            text-align: center;
        }
    }

}
</style>