<template>
    <div class="list">
        <el-form class="form" :model="searchParams" inline ref="form" :rules="searchParamsRules">
            <el-form-item label="查询" prop="productName">
                <el-input v-model="searchParams.productName" placeholder="输入关键字搜索" size="medium " style="width: 300px;"
                    :clearable="true">
                    <i slot="prefix" class="el-input__icon el-icon-search"></i>
                </el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" size="medium" icon="el-icon-search" @click="searchGoodsList(1)">搜索</el-button>
            </el-form-item>
            <el-form-item class="right">
                <el-button style="display: inline-block;" type="primary" icon="el-icon-plus" size="medium" @click="Add">
                    新增</el-button>

                <el-button size="medium" icon="el-icon-remove-outline" @click="reset">清空</el-button>
            </el-form-item>
        </el-form>

        <div v-loading="loading">
            <el-table :data="listParams.list" stripe style="width: 100%" :row-style="{ height: '55px' }" size="medium">
                <el-table-column prop="name" label="名称"> </el-table-column>
                <el-table-column prop="subtitle" label="标题"> </el-table-column>
                <el-table-column prop="price" label="价格"> </el-table-column>
                <el-table-column label="商品状态">
                    <template slot-scope="{ row }">
                        <template v-if="row.status === 1">
                            <span style="display: inline-block; width: 60px">
                                <el-tag type="success" effect="dark">在售</el-tag>
                                <!-- 在售 -->
                            </span>
                            <el-button type="warning" plain size="mini" @click="handleStatus(row)">设置下架</el-button>
                        </template>
                        <template v-else>
                            <span style="display: inline-block; width: 60px">
                                <el-tag type="info">已下架</el-tag>
                                <!-- 已下架 -->
                            </span>
                            <el-button type="primary" plain size="mini" @click="handleStatus(row)">设置上架</el-button>
                        </template>
                    </template>
                </el-table-column>
                <template>
                    <el-table-column label="操作">
                        <template slot-scope="{ row }">
                            <el-button @click="detail(row.id)" type="text">查看详情</el-button>&emsp;|<el-button type="text"
                                @click="handleEdit(row.id)">编辑</el-button>
                        </template>
                    </el-table-column>
                </template>

            </el-table>
            <el-pagination class="pagination" background layout="prev, pager, next" :total="listParams.total"
                :current-page.sync="listParams.pageNum" :size="listParams.pageSize" @current-change="handleChange">
            </el-pagination>
        </div>
    </div>
</template>
  
<script>
import { getGoodsList, searchGoodsList, handleStatus, } from "@/http/api";
export default {
    data() {
        return {
            searchParams: {
                productName: "",
            },
            listParams: {
                pageNum: 1,
                pageSize: 10,
                list: [],
                total: 0,
            },
            arr: [1],
            searchParamsRules: {
                productName: [
                    {
                        required: true,
                        message: "必填",
                    },
                ],
            },
            loading: false,
            isSearched: false,

        };
    },

    methods: {
        //商品详情
        detail(id) {
            this.$router.push({ name: "goodsdetail", params: { id } });
            // console.log(id,"mmmmmmmmm")
        },
        //商品编辑
        handleEdit(id) {
            this.$router.push({ name: "goodsEdit", params: { id } });
        },
        //上下架
        async handleStatus(row) {
            this.loading = true;
            const { status, id: productId } = row;
            await handleStatus({ status: status == 1 ? 2 : 1, productId }).finally(() => {
                this.loading = false;
            });
            row.status = status == 1 ? 2 : 1;

        },
        //获取商品列表
        async getGoodsList(obj) {
            this.loading = true;
            const res = await getGoodsList(obj).finally(() => {
                this.loading = false;
            });
            this.listParams = res;
            // console.log(getGoodsList(),"222222222")
            // console.log(res.list[0].id,"33333333")

        },

        //页码变化事件
        async handleChange(val) {
            // console.log(val);
            this.arr.push(val);
            if (this.arr.length > 2) {
                this.arr.splice(0, 1);
            }
            try {
                const { pageSize, pageNum } = this.listParams;
                if (this.isSearched) {
                    this.searchGoodsList(val);
                } else {
                    await this.getGoodsList({ pageSize, pageNum: val });
                }
            } catch (error) {
                this.arr.splice(1, 1);
                this.listParams = { ...this.listParams, pageNum: this.arr[0] };
            }
        },
        //商品搜索
        async searchGoodsList(pageNum) {
            const { pageSize } = this.listParams;
            this.loading = true;
            try {
                const res = await searchGoodsList({
                    ...this.searchParams,
                    pageSize,
                    pageNum,
                });
                this.listParams = res;
            } catch (error) {
                this.$message.err(error);
            }

            this.isSearched = true;
            this.loading = false;
        },
        //清空表单查询条件
        reset() {
            this.$refs.form.resetFields();
        },
        //新增商品
        Add() {
            this.$router.push({
                path: "/goods/Add",
            })
        },


    },
    mounted() {
        this.getGoodsList(this.listParams);
        // console.log(this,"777777777")
        // console.log(this.listParams,"8888888")
        // console.log(this.getGoodsList(),"99999999")

    },
    computed: {
        routeTab() {
            return this.$route.meta.title;;
        },
    },
};
</script>
<style lang="scss" scoped>
.list {
    padding: 20px;
    height: 100%;


    .form {


        .right {
            float: right;
        }

    }


    .pagination {
        padding: 24px 0 0 0;
        text-align: right;
    }

    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: rgba(204, 204, 204, 0);
        border-radius: 4px;
    }

    //滚动条的滑块
    ::-webkit-scrollbar-thumb {
        background-color: rgba(176, 176, 176, 0.426);
        border-radius: 4px;
    }

}
</style>