<template>
  <div class="category">
    <header class="header">
      <el-form>
        <el-form-item>
          <el-button icon="el-icon-plus" type="primary" @click="handleAdd"
            >新增</el-button
          >
        </el-form-item>
      </el-form>
    </header>
    <main class="main" v-loading="loading">
      <el-table
        :data="showCategoryList"
        style="width: 100%"
        :row-style="{ height: '30px' }"
        size="10px"
      >
        <el-table-column prop="name" label="姓名"> </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="{ row }">
            <el-button type="text" @click="handleEdit(row)"
              >修改&emsp;</el-button
            >
            <template v-if="row.parentId == 0">
              |<el-button type="text" @click="handleChildrenCategory(row)"
                >查看子分类</el-button
              >
            </template>
          </template>
        </el-table-column>
      </el-table>
      <div class="pagination-wrap">
        <el-pagination
          class="pagination"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="page"
          :page-sizes="[10, 20, 30, 40]"
          :page-size="pageSize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="categoryList.length"
        >
        </el-pagination>
      </div>
    </main>
    <el-dialog title="新增品类" :visible.sync="dialogVisible" width="30%">
      <el-form ref="form" :model="formObj" label-width="80px" :rules="rules">
        <el-form-item label="父级分类" prop="parentId">
          <el-select
            style="width: 100%"
            v-model="formObj.parentId"
            placeholder="请选择"
          >
            <el-option key="根分类" label="根分类" :value="0"></el-option>
            <el-option
              v-for="item in categoryList"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            >
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="名称" prop="categoryName">
          <el-input v-model="formObj.categoryName"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleCategoryAdd">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog title="修改品类" :visible.sync="editDialogVisible" width="30%">
      <el-form
        ref="editForm"
        :model="editFormObj"
        label-width="80px"
        :rules="rules"
      >
        <el-form-item label="名称" prop="categoryName">
          <el-input v-model="editFormObj.categoryName"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleCategoryEdit">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { getCategory, addCategory, editCategory } from "@/http/api";
export default {
  props: {
    id: {
      default: 0,
    },
  },
  data() {
    return {
      loading: false,
      categoryList: [],
      page: 1,
      pageSize: 10,
      showCategoryList: [],
      dialogVisible: false,
      formObj: {
        parentId: "",
        categoryName: "",
      },
      rules: {
        parentId: [
          {
            required: true,
            message: "请选择父级分类",
          },
        ],
        categoryName: [
          {
            required: true,
            message: "请输入分类名称",
          },
        ],
      },
      editDialogVisible: false,
      editFormObj: {
        categoryName: "",
      },
      editRules: {
        categoryName: [
          {
            required: true,
            message: "请输入分类名称",
          },
        ],
      },
    };
  },
  computed: {
    routeTab() {
      return this.id == 0 ? "品类列表" : "二级分类";
    },
    handlePagination() {
      return [this.page, this.pageSize, this.categoryList];
    },
  },
  watch: {
    //处理分页
    handlePagination: {
      deep: true,
      immediate: true,
      handler() {
        this.showCategoryList = this.categoryList.slice(
          (this.page - 1) * this.pageSize,
          this.page * this.pageSize
        );
      },
    },
  },
  methods: {
    handleAdd() {
      this.dialogVisible = true;
    },
    handleSizeChange(val) {
      this.pageSize = val;
    },
    handleCurrentChange(val) {
      this.page = val;
    },
    //获取分类id
    async getCategory(id) {
      try {
        this.loading = true;
        const res = await getCategory(id);
        this.categoryList = res;
        this.loading = false;
      } catch (error) {
        this.loading = false;
      }
    },
    //添加分类
    async addCategory(data) {
      await addCategory(data);
      this.$refs.form.resetFields();
      this.dialogVisible = false;
      this.getCategory(0);
    },
    handleCategoryAdd() {
      this.$refs.form.validate((valid) => {
        if (valid) {
          this.addCategory(this.formObj);
        }
      });
    },
    //修改分类名称
    handleEdit({ name, id }) {
      this.editDialogVisible = true;
      this.editFormObj = { categoryName: name, categoryId: id };
    },
    //编辑分类名称接口
    async editCategory(obj) {
      await editCategory(obj);
      this.$refs.editForm.resetFields();
      this.editDialogVisible = false;
      this.getCategory(this.id);
    },

    handleCategoryEdit() {
      this.$refs.editForm.validate((valid) => {
        if (valid) {
          this.editCategory(this.editFormObj);
        }
      });
    },
    handleChildrenCategory({ id }) {
      this.$router.replace(`/category/list/${id}`);
    },
  },
  created() {
    this.getCategory(this.id);
  },
};
</script>
<style lang="scss" scoped>
.category {
  padding: 20px;

  .header {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
    // padding: 15px;

    ::v-deep .el-form-item--small.el-form-item {
      margin-bottom: 0;
    }
  }

  .main {
    border-radius: 5px;
    background-color: #fff;

    .pagination-wrap {
      padding: 15px 0;
      text-align: right;
    }
  }
}
</style>
