<!--
 * @Author: zkl 3534055259@qq.com
 * @Date: 2022-10-24 18:39:43
 * @LastEditors: zkl 3534055259@qq.com
 * @LastEditTime: 2022-10-24 18:39:50
 * @FilePath: \admin测试\fengyong-admin\src\views\Category\index.vue
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<template>
    <router-view class="wrap"></router-view>
</template>
  
<script>
export default {
    computed: {},
};
</script>
<style lang="scss" scoped>

</style>
  