<template>
  <fragment>
    <template v-for="item in menus">
      <template v-if="item.children">
        <el-submenu :key="item.index" :index="item.index">
          <template slot="title">
            <i :class="item.icon"></i>
            <span slot="title">{{ item.title }}</span>
          </template>
          <NavMenus :menus="item.children"></NavMenus>
        </el-submenu>
      </template>
      <el-menu-item :key="item.index" v-else :index="item.path">
        <i :class="item.icon"></i>
        <span slot="title">{{ item.title }}</span>
      </el-menu-item>
    </template>
  </fragment>
</template>

<script>
export default {
  name: "NavMenus",
  props: ["menus"],
};
</script>
<style>

</style>
