<template>
    <div class="bread-crumb">
        <el-breadcrumb separator="/">
            <el-breadcrumb-item v-for="item in breadcrumbs" :key="item.index" v-bind="handleTo(item)">{{ item.meta.title
            }}</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
</template>
  
<script>
export default {
    props: ["breadcrumbs"],
    methods: {
        handlePath(val) {
            if (val === "") {
                return "/";
            }
        },
        handleTo(item) {
            return {
                to:
                    item.meta.disabled || item.name === this.$route.name
                        ? null
                        : { path: this.handlePath(item.path) },
            };
        },
    },
};
</script>
<style>

</style>
  