<!--
 * @Author: zkl 3534055259@qq.com
 * @Date: 2022-10-12 15:55:06
 * @LastEditors: zkl 3534055259@qq.com
 * @LastEditTime: 2022-10-13 15:08:20
 * @FilePath: \admin测试\fengyong-admin\src\views\NotFound\NotFound.vue
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<template>
    <div>
        <el-result title="404" subTitle="抱歉，请求错误">
            <template slot="icon">
                <img src="https://gw.alipayobjects.com/zos/rmsportal/KpnpchXsobRgLElEozzI.svg" />
            </template>
            <template slot="extra">
                <el-button @click="goHome" type="primary">返回首页</el-button>
            </template>
        </el-result>

    </div>
</template>
<script>
export default {
    name: "NotFound",
    methods: {
        goHome() {
            this.$router.push({ path: "/" });
        }
    }
};
</script>
<style>

</style>
  
  