<!--
 * @Author: zkl 3534055259@qq.com
 * @Date: 2022-10-24 09:45:45
 * @LastEditors: zkl 3534055259@qq.com
 * @LastEditTime: 2022-10-24 09:45:58
 * @FilePath: \admin测试\fengyong-admin\src\components\Upload.vue
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<template>
    <div>
        <el-upload :headers="headers" action="/pc/upload">
            <el-button>click</el-button>
            <div slot="tip" class="el-upload__tip">
                只能上传jpg/png文件，且不超过500kb
            </div>
        </el-upload>

        <el-button @click="handleClick">click</el-button>
        <input ref="file" style="display: none" type="file" @change="handleChange" />
        <div ref="img"></div>
    </div>
</template>
  
<script>
import { upload } from "@/http";
export default {
    data() {
        return {
            file: null,
            headers: {
                token:
                    "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwiaWF0IjoxNjY2MjM3MTQyfQ.jIA2qg4ISMCi2kFNLwRND0d_RZZz2j426bnbYr9JXoM",
            },
        };
    },
    methods: {
        handleChange(e) {
            let file = e.target.files[0];
            upload(
                "/pc/upload",
                { file },
                {
                    headers: this.headers,
                }
            );
            const image = document.createElement("img");
            image.src = URL.createObjectURL(file);
            this.$refs.img.appendChild(image);
            console.log(e);
        },
        handleClick() {
            this.$refs.file.click();
        },
    },
};
</script>
<style>

</style>
  