<template>
  <div class="user">
    <main class="main" v-loading="loading">
      <el-table :data="orderObj.list" style="width: 100%" :row-style="{ height: '60px' }" size="20px" :stripe="true">
        <el-table-column prop="username" label="账号"> </el-table-column>
        <el-table-column prop="phone" label="电话"> </el-table-column>
        <el-table-column prop="email" label="邮箱"> </el-table-column>
        <el-table-column label="注册时间">
          <template slot-scope="{ row }">
            {{ row.createTime | handleDate }}
          </template>
        </el-table-column>
      </el-table>
      <div class="pagination-wrap" v-if="orderObj.total > 1">
        <el-pagination class="pagination" @size-change="handleSizeChange" @current-change="handleCurrentChange"
          :current-page="orderObj.pageNum" :page-sizes="[10, 20, 30, 40]" :page-size="orderObj.pageSize"
          layout="total, sizes, prev, pager, next, jumper" :total="orderObj.total">
        </el-pagination>
      </div>
    </main>
  </div>
</template>

<script>
import { getUserList } from "@/http/api";
import dayjs from "dayjs";
export default {
  data() {
    return {
      loading: false,
      orderObj: {
        pageSize: 10,
        pageNum: 1,
        total: 0,
        list: [],
      },
    };
  },
  filters: {
    handleDate(val) {
      return dayjs(val).format("YYYY/M/D");
    },
  },
  computed: {
    routeTab() {
      return this.$route.meta.title;
    },
  },
  methods: {
    async getUserList(params) {
      try {
        this.loading = true;
        const res = await getUserList(params);
        this.orderObj = res;
        this.loading = false;
      } catch (error) {
        this.loading = false;
      }
    },
    handleSizeChange(val) {
      this.orderObj.pageSize = val;
      this.getUserList({
        pageSize: this.orderObj.pageSize,
        pageNum: this.orderObj.pageNum,
      });
    },
    handleCurrentChange(val) {
      this.orderObj.pageNum = val;
      this.getUserList({
        pageSize: this.orderObj.pageSize,
        pageNum: this.orderObj.pageNum,
      });
    },
  },
  created() {
    this.getUserList({
      pageSize: this.orderObj.pageSize,
      pageNum: this.orderObj.pageNum,
    });
  },
};
</script>
<style lang="scss" scoped>
.user {
  padding: 20px;

  .pagination-wrap {
    padding: 15px;
    text-align: right;
    background-color: #fff;
  }
}
</style>
