<template>
  <div class="home">
    <div class="cards" v-if="indexData">
      <div @click="orderCount">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>订单总数</span>
          </div>
          <h2>{{ indexData.orderCount }}</h2>
        </el-card>
      </div>
      <div @click="productCount">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>商品总数</span>
          </div>
          <h2>{{ indexData.productCount }}</h2>
        </el-card>
      </div>
      <div @click="userCount">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>用户总数</span>
          </div>
          <h2>{{ indexData.userCount }}</h2>
        </el-card>
      </div>


    </div>
    <el-card class="chart">
      <div slot="header" class="clearfix">
        <span>销售额</span>
      </div>
      <v-chart style="width: 100%" :options="options" />
    </el-card>

  </div>
</template>

<script>
import ECharts from "vue-echarts";
import "echarts/lib/chart/bar";
import "echarts/lib/component/tooltip";
import { getIndex, getSales } from "@/http/api";
import { Message } from "element-ui";
export default {
  data() {
    return {
      indexData: null,
      options: null,
      fullscreen: false,
    };
  },
  computed: {
    routeTab() {
      return this.$route.meta.title;
    },
  },
  methods: {
    orderCount() {
      this.$router.push({
        name: "orderList"
      })
    },
    productCount() {
      this.$router.push({
        name: "goodsList"
      })
    },
    userCount() {
      this.$router.push({
        name: "userList"
      })
    }
  },
  components: {
    "v-chart": ECharts,
  },
  async beforeRouteEnter(to, from, next) {
    // 路由守卫
    const [index, sales] = await Promise.allSettled([getIndex(), getSales()]);
    const options = {

      tooltip: {
        trigger: 'axis',
        axisPointer: {
          type: 'shadow'
        }
      },
      color: 'red',
      xAxis: {
        type: "category",
        data: [],
      },
      yAxis: {
        type: "value",
      },
      series: [
        {
          data: [],
          type: "bar",
          showBackground: true,
          backgroundStyle: {
            color: 'rgba(180, 180, 180, 0.2)'
          }
        },
      ],
    };
    next((vm) => {
      index.status === "fulfilled"
        ? (vm.indexData = index.value)
        : Message.error(index.reason.message);
      if (sales.status.includes("fulfilled")) {
        options.xAxis.data = sales.value.date;
        options.series[0].data = sales.value.data;
        return (vm.options = options);
      }
      Message.error(sales.reason.message);
    });
  },


};
</script>
<style lang="scss" scoped>
.home {
  display: flex;
  flex-direction: column;
  padding: 20px;

  .cards {
    display: flex;
    flex: 1;
    gap: 30px;

    // margin: 50px 0;
    div {
      flex: 1;


      .box-card:hover {
        box-shadow: 0 2px 12px 0 rgb(0 0 0 /20%);
        translate: all 1s;
      }
    }

  }

  .chart {
    flex: 1;
    // width: 66%;
    width: 100%;
    height: 400px;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    margin-top: 50px;
    // margin-right: 20px;
  }
}
</style>
