<template>
  <fullscreen v-model="fullscreen">
    <el-container class="home" style="height: 100vh;">
      <el-aside class="aside" style="width: auto;">
        <div class="navloge " :style="{ width: !isCollapse ? '189px' : '33px' }">
          <a href="/" class="logo" v-show="isCollapse">
            <img src="@/image/logo.jpg" alt="" class="xcz" >
          </a>
          <span class="logo-text" v-show="!isCollapse">ChShJu</span>
        </div>
        <el-menu default-active="1-4-1" class="el-menu-vertical-demo" :collapse="isCollapse" router
          :unique-opened="true" @open="handleOpen" @close="handleClose" background-color="#001529" text-color="#ccc">
          <NavMenus :menus="menus"></NavMenus>
        </el-menu>

      </el-aside>
      <el-container class="main">
        <el-header class="header">

          <div @click="isCollapses" style="font-size: 24px;margin: 1px 25px 0 0;">
            <i :class="isCollapse ? 'el-icon-s-unfold' : 'el-icon-s-fold'"></i>
          </div>


          <BreadCrumb class="BreadCrumb" :breadcrumbs="breadcrumbs"></BreadCrumb>
          <div class="user">
            <el-tooltip class="item" effect="dark" content="全屏 " :open-delay="500" placement="bottom">
              <span style="margin: 22px 5px;" @click="fullscreen = !fullscreen">
                <i v-if="!fullscreen" class="el-icon-full-screen"></i>
                <i v-else class="el-icon-crop"></i>
              </span>
            </el-tooltip>
            <el-dropdown @command="logOut">
              <div class="dropdowns">
                <el-avatar src='#'><img src="@/image/yy.jpg" alt="头像">
                </el-avatar>
                <div class="username">{{ username }}*</div>
                <i class="el-icon-arrow-down el-icon--right"></i>
              </div>

              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item command="logOut"><i class="el-icon-switch-button"></i>退出登录</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </div>
        </el-header>
        <el-main class="child-main" >



          <router-tab class="tabs" restore>
            <template #start>
              <router-link class="el-icon-s-home center" to="/" tag="i"></router-link>
            </template>
          </router-tab>

        </el-main>
        <el-footer class="footer">
          <span>wwwwwwwwwwwwwwwwwwwwwwww</span>
        </el-footer>
      </el-container>
    </el-container>
  </fullscreen>
</template>

<script>
import NavMenus from "./components/NavMenus.vue";
import BreadCrumb from "@/components/BreadCrumb.vue";
import { logOut } from "@/http/api";
export default {
  data() {
    return {
      isCollapse: false,
      fullscreen: false,
      username: localStorage.getItem("username") || "",
      menus: [
        {
          title: "仪表盘",
          icon: "el-icon-stopwatch",
          index: "1",
          children: [
            {
              title: "首页",
              icon: "el-icon-s-home",
              index: "1-1",
              path: "/",
            },
          ],
        },
        {
          title: "商品",
          icon: "el-icon-s-cooperation",
          index: "2",
          children: [
            {
              title: "商品管理",
              icon: "el-icon-s-cooperation",
              index: "2-1",
              path: "/goods",
            },
          ],
        },
        {
          title: "品类",
          index: "3",
          icon: "el-icon-s-data",
          children: [
            {
              title: "品类管理",
              index: "3-1",
              path: "/category/list",
            },
          ],
        },
        {
          title: "订单",
          index: "4",
          icon: "el-icon-s-order",
          children: [
            {
              title: "订单管理",
              index: "4-1",
              path: "/order/list",
            },
          ],
        },
        {
          title: "用户",
          index: "5",
          icon: "el-icon-user-solid",
          children: [
            {
              title: "用户管理",
              index: "5-1",
              path: "/user/list",
            },
          ],
        },
      ],
      breadcrumbs: [],
    };
  },
  watch: {
    $route: {
      immediate: true,
      handler(val) {
        if (val.name == "index")
          return (this.breadcrumbs = [
            {
              meta: { title: "首页", disabled: true },
              name: "home",
              path: "/",
            },
          ]);
        this.breadcrumbs = val.matched;
        console.log(this.breadcrumbs);
      },
    },
  },
  components: {
    NavMenus,
    BreadCrumb,
  },
  methods: {
    //侧边栏
    handleOpen(key, keyPath) {
      console.log(key, keyPath);
    },
    handleClose(key, keyPath) {
      console.log(key, keyPath);
    },
    isCollapses() {
      this.isCollapse = !this.isCollapse
    },
    async logOut(command) {
      if (command == "logOut") {
        await logOut();
        this.$router.replace({
          name: "login",
        });
      }
    },
  },

};
</script>
<style lang="scss" scoped>
.home {
  // height: 100vh;
  display: flex;

  .aside {
    background: #001529;
    // color: #333;
    overflow-x: hidden;
    /*blur值为5px*/

    .el-menu-vertical-demo:not(.el-menu--collapse) {
      width: 220px;
      min-height: 400px;
    }

    .navloge {
      text-align: center;
      // background-color: #fff;
      transition: all 0.3s ease-in-out;
      height: 32px;
      // background: rgba(255, 255, 255, 0.2);
      margin: 16px;
      color: #FFF;
      font-size: 22PX;
      line-height: 32px;


      .logo-text {
        animation: show 0.3s;

        @keyframes show {
          0% {
            opacity: 0;
            width: 0;
          }

          50% {
            opacity: 0;
            width: 0;
          }

          90% {
            opacity: 0;
            width: 0;
          }

          100% {
            opacity: 1;
            width: auto;
          }
        }
      }
    }



    .el-menu-item.is-active {
      background-color: #1890ff !important;
      color: #fff !important;
    }
  }



  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    // height: 100vh;

    .header {

      min-height: 64px;
      box-shadow: rgb(0 21 41 / 8%) 0px 1px 4px;
      display: flex;
      background: #fff;
      align-items: center;
      gap: 20px;



      .BreadCrumb {
        flex: 1;
        padding: 26px 0;
      }

      .user {
        width: 150px;
        position: absolute;
        right: 20px;
        flex: 1;
        display: flex;

        .dropdowns {
          background-color: #fff;
          flex: 1;
          display: flex;

          .el-avatar {
            margin: 12px 5px;
          }

          .username {
            text-align: center;
            margin: 23px 0;
            display: inline-block;

          }

          i {
            margin: 25px 5px;
          }
        }



        .el-tag {
          margin: 22px 14px;
        }

      }
    }

    .child-main {
      // padding: 50px;
      background-color: #f0f2f5;

    }

    .footer {
      height: 60px !important;
      text-align: center;
      color: rgba(0, 0, 0, .65);
      font-size: 14px;
      background-color: #f0f2f5;
      line-height: 60px;
    }



    .child-main {
      padding: 0 15px 15px 15px;
      background-color: #f0f2f5;

      ::v-deep .center {
        margin-right: 6px;
        margin-top: 6px;
        background-color: #fff;
        height: 32px;
        border-radius: 3px;
        display: inline-flex;
        align-items: center;
        margin-top: 0;
        padding: 0 8px;
      }

      ::v-deep .router-tab__header {
        height: auto;
        padding-bottom: 5px;
        padding-top: 15px;
        position: sticky;
        top: 0;
        border-bottom: none;
        background-color: #f0f2f5;
      }

      ::v-deep .router-tab__container {
        background-color: none;
      }

      ::v-deep .router-tab__item {
        height: 32px;
        background: #fff;
        border-radius: 3px;
        border: none;
        margin-right: 6px;
        cursor: move;
      }

      .router-alive {
        padding: 20px !important;
      }
    }
  }




}

.el-menu {
  border-right: 0 !important;

}
el-menu-item {
  color: #777F8F;
}

.el-menu-item.is-active {
  color: #6681FA;
  background-color: #EAEEFF;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: rgba(204, 204, 204, 0);
  border-radius: 4px;
}

//滚动条的滑块
::-webkit-scrollbar-thumb {
  background-color: rgba(176, 176, 176, 0.426);
  border-radius: 4px;
}
.child-main{
  // background: linear-gradient(
  //   to right,
  //   rgb(58, 5, 65),
  //   rgb(26, 23, 23),
  //   rgb(8, 31, 32),
  //   rgb(43, 5, 28)
  // );
}
// .tabs{
//   background: linear-gradient(
//     to right,
//     rgb(58, 5, 65),
//     rgb(26, 23, 23),
//     rgb(8, 31, 32),
//     rgb(43, 5, 28)
//   );
// }
// .el-menu-vertical-demo{
//     background: linear-gradient(
//     to right,
//     rgb(58, 5, 65),
//     rgb(26, 23, 23),
//     rgb(8, 31, 32),
//     rgb(43, 5, 28)
//   );

// }
.xcz{
  width: 50px;
  height: 30px;
}
</style>
