<template>
  <div class="login">
    <div class="logos">
      <span class="img">
        <!-- <svg t="1665732381200" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
          p-id="2272" width="48" height="48">
          <path
            d="M512 504L764.8 68.8h-134.4L512 275.2 393.6 70.4h-134.4L512 504zM819.2 70.4L512 600 204.8 68.8H0l512 886.4L1024 70.4H819.2z"
            fill="#36ab60" p-id="2273"></path>
        </svg> -->
        <img src="@/image/logo.jpg" alt="" class="ioi" >
      </span>
      <span class="text">ChShJu</span>
    </div>
    <el-form :model="ruleForm" status-icon ref="ruleForm" size="medium  " style="width: 300px" class="demo-ruleForm">
      <el-form-item prop="username" :rules="[
        {
          required: true,
          message: '请输入用户名',
          trigger: ['blur', 'change'],
        },
      ]">
        <el-input prefix-icon="el-icon-user" size="medium " type="text" v-model="ruleForm.username" clearable
          autocomplete="off" placeholder="请输入用户名">

        </el-input>
      </el-form-item>
      <el-form-item prop="password" :rules="[
        {
          required: true,
          message: '请输入密码',
          trigger: ['blur', 'change'],
        },
      ]">
        <el-input prefix-icon="el-icon-lock" size="medium " type="password" v-model="ruleForm.password" show-password
          autocomplete="off" placeholder="请输入密码">

        </el-input>
      </el-form-item>
      <el-form-item id="validate"></el-form-item>
      <el-form-item>
        <el-button :loading="loginStatus" type="primary" style="width: 100%" @click="handleLogin('ruleForm')">登录
        </el-button>
      </el-form-item>
    </el-form>

  </div>
</template>

<script>
import { login } from "@/http/api";
export default {
  data() {
    return {
      ruleForm: {
        username: "admin",
        password: "admin",
      },
      loginStatus: false,
    };
  },
  methods: {
    handleLogin(formName) {
      this.$refs[formName].validate(async (valid) => {
        if (!valid) {
          return false;
        }
        // this.$cookies.set('username', this.ruleForm.username)
        this.loginStatus = true;
        const { username } = await login(this.ruleForm).finally(() => {
          this.loginStatus = false;
        });
        localStorage.setItem("username", username);
        if (this.$route.query?.redirect) {
          return this.$router.push(this.$route.query.redirect);
        }
        this.$router.push({
          path: "/",
        });
      });
    },
  },

};
</script>
<style lang="scss" scoped>
.login {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ecf3ff;
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
    background: linear-gradient(
    to right,
    rgb(58, 5, 65),
    rgb(26, 23, 23),
    rgb(8, 31, 32),
    rgb(43, 5, 28)
  );

}

.logos {
  // margin: 26px 0;
  margin: -147px 0px 34px 0;
  width: 217px;
  display: flex;
  height: 50px;
  line-height: 20px;



  .text {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 9px;
  }
}
.ioi{
  width: 60px;
  height: 40px;
}
</style>
